* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 16rem;
}

.header-container {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  align-items: start;
  background-color: rgb(204, 204, 204);
}

img {
  height: 3rem;
}

h3 {
  margin: 1em;
  white-space: nowrap;
}

.nav-container {
  height: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  background-color: rgb(204, 204, 204);
}

.input-el {
  margin-top: 0.5em;
  width: 100%;
}

.section-container {
  height: 2rem;
  text-align: center;
  background-color: rgb(227, 230, 230);
}

.section-container button {
  margin-top: 0.5em;
  padding: 0.2em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  font-weight: bold;
  background-color: rgb(78, 85, 82);
  color: white;
  border: none;
}

button:hover {
  filter: brightness(85%);
  cursor: pointer;
}

ul {
  text-decoration: none;
  margin: 0.5em;
}
